.grid-element-library-card {
  /* background-color: rgb(206, 206, 77); */

  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.grid-element-library-card:hover {
  scale: 1.05;
}

.popup-shop {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 65%;
  background-color: white;
  border-radius: 1rem;
}

.card-title-library-card {
  background-color: rgb(206, 206, 77);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: small;
  width: 250px;
  line-height: 20px;
  font-size: small;
}

.container-image-library-card {
  flex: 1;
  overflow: hidden;
  width: 250px;
}

.image-library-card {
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 1;
}

.bottom-card-library-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(206, 206, 77);
  width: 250px;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.acquista-library-card {
  cursor: pointer;
  width: 25px;
  margin-right: 5px;
  background-color: transparent;
  border: 0px;
  position: relative;
}

.required-age-library-card {
  margin-left: 5px;
}

.information-popup {
  display: none;
  position: absolute;
  left: -75px;
  top: -25px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 5px;
  min-width: 50px;
  color: red;
  border: 1px solid red;
  white-space: nowrap;
}

.description-librarycard {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.37);
  padding: 5px;
  text-align: center;
  color: blue;
  font-family: cursive;
  text-shadow: 1px 1px red;
}

button.acquista-library-card:hover > .information-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}
