html,
body {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: #2fd6d0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5%;
  z-index: 99;
}

.navbarLogo {
  width: 35px;
  background-color: transparent;
  border: 0px;
}

/*Home button*/
.navbarLogoHome {
  width: 35px;
  background-color: transparent;
  border: 0px;
}

.navbarLogoInfoHome {
  display: none;
  position: absolute;
  left: 2px;
  z-index: 200;
  top: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 5px;
  min-width: 50px;
  color: red;
  border: 1px solid red;
  white-space: nowrap;
}

button.navbarLogoHome:hover > .navbarLogoInfoHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*User button*/
.navbarLogoUser {
  width: 35px;
  background-color: transparent;
  border: 0px;
}

.navbarLogoUser:hover {
  animation: navbarLogoUser 0.2s ease;
}

@keyframes navbarLogoUser {
  0% {
    transform: translateX(0);
    scale: (1.1);
  }
  25% {
    transform: translateX(-1.5px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(1.5px);
  }
}

.navbarLogoInfoUser {
  display: none;
  position: absolute;
  left: 1135px;
  top: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 5px;
  min-width: 50px;
  color: red;
  border: 1px solid red;
  white-space: nowrap;
}

button.navbarLogoUser:hover > .navbarLogoInfoUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Search button*/
.navbarLogoSearch {
  width: 35px;
  background-color: transparent;
  border: 0px;
}

.navbarLogoSearch:hover {
  animation: navbarLogoSearch 0.2s ease;
}

@keyframes navbarLogoSearch {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1.5px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(1.5px);
  }
}

.navbarLogoInfoSearch {
  display: none;
  position: absolute;
  left: 1190px;
  top: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 5px;
  min-width: 50px;
  color: red;
  border: 1px solid red;
  white-space: nowrap;
}

button.navbarLogoSearch:hover > .navbarLogoInfoSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Category button*/
.navbarLogoCategory {
  width: 35px;
  background-color: transparent;
  border: 0px;
}

.navbarLogoCategory:hover {
  animation: navbarLogoCategory 0.2s ease;
}

@keyframes navbarLogoCategory {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1.5px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(1.5px);
  }
}

.navbarLogoInfoCategory {
  display: none;
  position: absolute;
  left: 1230px;
  top: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 5px;
  min-width: 50px;
  color: red;
  border: 1px solid red;
  white-space: nowrap;
}

button.navbarLogoCategory:hover > .navbarLogoInfoCategory {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Shop button*/
.navbarLogoShop {
  width: 35px;
  background-color: transparent;
  border: 0px;
}

.navbarLogoShop:hover {
  animation: navbarLogoShop 0.2s ease;
}

@keyframes navbarLogoShop {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1.5px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(1.5px);
  }
}

.navbarLogoInfoShop {
  display: none;
  position: absolute;
  left: 1295px;
  top: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 5px;
  min-width: 50px;
  color: red;
  border: 1px solid red;
  white-space: nowrap;
}

button.navbarLogoShop:hover > .navbarLogoInfoShop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarButton {
  color: #0c0a09;
  background-color: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 15px;
}

.popupShop {
  position: absolute;
  top: 2px;
  left: 95%;
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 50%;
  border: 2px solid rgb(75, 75, 75);
  opacity: 0.7;
  font-size: small;
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hamburger-icon-navbar {
  display: none;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .navbarButton {
    display: none;
  }

  .hamburger-icon-navbar {
    display: block;
    margin-right: 5px;
  }
}

.lateral-bar-navbar {
  visibility: visible;
  position: fixed;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #125553;
  z-index: 10;
  overflow: hidden;
  margin-left: -5px;
}

.lateral-bar-navbar.open {
  animation: sidebarOpenAnimation 0.8s ease-out forwards;
}

@keyframes sidebarOpenAnimation {
  0% {
    width: 0%;
  }
  /*33% {
    width: 80%;
  }
  66% {
    width: 60%;
  }*/

  100% {
    width: 101%;
  }
}

.lateral-bar-navbar.close {
  animation: sidebarCloseAnimation 0.8s ease-out backwards;
}

@keyframes sidebarCloseAnimation {
  0% {
    width: 101%;
  }
  /*33% {
    width: 20%;
  }
  66% {
    width: 40%;
  }*/
  100% {
    width: 0%;
  }
}

.close-icon {
  position: fixed;
  width: 3rem;
  height: 3rem;
  top: 1.5%;
  left: 1.5%;
}

.close-icon:hover {
  transform: scale(1.2);
}

.side-bar-content {
  position: fixed;
  left: 3%;
  top: 12.5%;
  height: calc(100% - 12.5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.element-side-bar-content {
  font-size: xx-large;
  width: auto;
}

.element-side-bar-content:hover {
  transform: scale(1.1);
}
